@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700,900&display=swap');

/*-- RESET --*/
* {
    box-sizing: border-box;
}

html {
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0;
}

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1, h2, h3, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

 img {
    width: 100%;
    display: block;
 }